html, body {
    /* background-color: #fff; */
    /* background:#f8f8f8; */
    background-color: black;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
    font-size: 100%;
    color:white;
    height: 100vh;
    margin: 0;
    }
.app{
    background-color: violet;
}
    img.logo{
        margin: 18px 0px 0px 10px;
    }
.title{
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
    .full-height {
        height: 100vh;
    }

    /* .flex-center {
        align-items: right;
        display: flex;
        justify-content: center;
    } */

    .position-ref {
        float: right;
    }

    .top-right {
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 18px;
    }

.links > a {
    color: #636b6f;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 18px;
    z-index: 4;
}

Slideshow container

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 20px; }

Caption text
.text {
  color: #14171a;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

 Number text (1/3 etc)
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

 The dots/bullets/indicators
 .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }
}
.typing-sentence{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;

}
.welcome-intro{
    margin-top: 20px;
}
.login-button{
    margin-bottom: 10px;
}
/* #spinner{
    margin-top: 10px;
} */
 @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);

a{
 	text-decoration: none;
 	color:#666;
 }
 /* a:hover{
 	color:#999;
 } */

 /* button {
 	padding: 10px;
 	border-radius: 3px;
 	background: #E0E0E0;
 	border: #CCC 1px solid;
 } */

 p{
 	line-height: 2em;
 	margin:0 0 20px;
 	text-align: center;
 }

 hr{
 	border: 0;
 	border-bottom: #CCC 2px solid;
 	margin: 30px auto;
 }

 /* .title{
 	font-size: 4em;
 } */

 .wrap{
 	max-width: 600px;
 	margin:50px auto;
 }

 .type-wrap{
 	margin:10px auto;
 	padding:20px;
 	background:#f0f0f0;
 	border-radius:5px;
 	border:#CCC 1px solid;
 }

 .links{
 	margin:20px 0;
 	font-size: 0.75em;
 }
 .testimonial{
     width:40%;
     float: right;
 }
 footer {
   color: #636b6f;
   border: 1px solid;
   text-align: center;
   border-bottom: none; }
   footer div ul.index-footer-info {
     list-style: none;
     justify-content: center;
     width: auto;
     margin: 0;
     padding: 0; }
     footer div ul.index-footer-info li {
       text-align: inherit; }
       footer div ul.index-footer-info li a {
         font-size: 7px;
         margin-left: 1px;
         color: #636b6f;
         padding: 0 20px;
         font-size: 10px;
         font-weight: 600;
         letter-spacing: .1rem;
         text-decoration: none;
         text-transform: uppercase;}
// ///base//////
// html {
//     position: relative;
//     min-height: 100%;
//   }
//
// .huge {
//     font-size: 40px;
// }
//
// body > #app > .container, {
//     margin-top: 100px;
//     margin-bottom: 250px;
//     padding-top: 15px;
//     padding-bottom: 15px;
// }
//
// @include media-breakpoint-down(xs) {
//     body > #app > .container, {
//         margin-bottom: 320px;
//     }
// }
//
// body > #app > .container-fluid {
//     padding-bottom: 15px;
//     padding-top: 15px;
// }

@media only screen and (max-width: 768px) {
    }
 @media only screen and (max-width: 600px) {

    }
On smaller screens, decrease text size
  @media only screen and (max-width: 300px) {
   .text {font-size: 11px}

    }
